# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.d

build/
server/server
CMakeFiles/cmake.check_cache
Visual Studio 14 2015.bat
launch.bat
.dir-locals.el
.idea/